<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		<server>
			<id>illin5564:5000</id>
			<username>pulluser</username>
			<password>unix11</password>
		</server>
		<server>
			<id>public</id>
			<username>psmdocker</username>
			<password>unix11</password>
		</server>
	</servers>
	<mirrors>
		<mirror>
			<id>public</id>
			<mirrorOf>*</mirrorOf>
			<name>Public Repositories</name>
			<url>http://illin5564:28080/repository/maven-public</url>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>docker-host</id>
			<properties>
				<docker.pull.registry>illin5564:5000</docker.pull.registry>
				<docker.push.registry>illin5564:5000</docker.push.registry>
				<image.pull.secret>nexus-illin5564-pull-secret</image.pull.secret>
				<image.pull.secret.token>ewoJImF1dGhzIjogewoJCSJpbGxpbjU1NjQ6NTAwMCI6IHsKCQkJImF1dGgiOiAiY0hOdFpHOWphMlZ5T25WdWFYZ3hNUT09IgoJCX0KCX0KfQ==</image.pull.secret.token>
			</properties>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
		</profile>
		<profile>
			<id>amdocs.ms.releases</id>
			<properties>
				<repo.url>http://illin5564:28080/repository</repo.url>
				<repo.releases>maven-releases</repo.releases>
				<release.repo.url>${repo.url}/${repo.releases}</release.repo.url>
			</properties>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>releases</id>
					<url>${release.repo.url}</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>amdocs.ms.snapshots</id>
			<properties>
				<repo.url>http://illin5564:28080/repository</repo.url>
				<repo.snapshots>maven-snapshots</repo.snapshots>
				<snapshot.repo.url>${repo.url}/${repo.snapshots}</snapshot.repo.url>
			</properties>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>snapshots</id>
					<url>${snapshot.repo.url}</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>